<!DOCTYPE html>
<html>
<head>
  <title>testserver</title>
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- custom header -->
	<link rel="stylesheet" href="/stylesheets/header.css">
	<!-- <link rel='stylesheet' href='/stylesheets/index.css' /> -->
	<link rel="stylesheet" href="/stylesheets/dropdownlist.css">
</head>
<div> 
	<form action='/verifysignature' method='POST'>
		<p> <%= shaMsg %> </p>
		<input type='text' name='signature' placeholder='enter your signature'>
		<input type='hidden' name='publickey' value=<%= publickey %>>
		<input type='hidden' name='shaMsg' value=<%= shaMsg %>>
		<input type='hidden' name='uuid' value=<%= uuid %>>
		<input type='submit' value="Submit">
	</form>
</div>

</head>
<body>
<form >

</form>
</body>
		<script src='https://www.google.com/recaptcha/api.js'>

		</script>

</html>