<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- custom header -->
  <link rel="stylesheet" href="/stylesheets/header.css">

  <link rel="stylesheet" href="/stylesheets/commands.css">
</head>
<body>

	<% include header %>

  <div class="container">
  	<div class="card-deck mb-3 text-center deck-margin">
  	<div class="card mb-4">
  		<div class="card-header">
        <h4 class="my-0 font-weight-normal">Actions</h4>
      </div>
	    
	    <form action='/commands/<%= name %>/new_vote' method='post' class='btn-margin'>
				<p class="p-padding">Launch new vote <input type='submit' value='+' class="btn btn-outline-danger btn-circle"></p>
			</form>
			
			<p class="p-padding">Progressing...<nav class="nav justify-content-center">
			  <form action='/command/<%= name %>/sign_up' method='get' class='nav-item btn-margin'>
					<input type='submit' value='sign up' class="btn btn-outline-dark">
				</form>
				<form action='/command/<%= name %>/vote' method='get' class='nav-item btn-margin'>
					<input type='submit' value='vote' class="btn btn-outline-dark">
				</form>
				<form action='/command/<%= name %>/freeze' method='get' class="nav-item btn-margin">
					<input type='submit' value='freeze' class="btn btn-outline-dark">
				</form>
			</nav></p>

			<p class="p-padding">
				<form action='/commands/<%= name %>/result' method='post' class='form-inline btn-margin justify-content-center'>
					<div class="form-group">
				    <label for="txid">Result: </label>
				    <div class="">
				    	<input type="text" name="txid" placeholder="txid" class="form-control btn-margin" id="txid" required>
				    </div>
				  </div>
					<input type='submit' class="btn btn-outline-secondary btn-margin" value='view'>
				</form>
			</p>
			
		</div>
		</div>
	</div>
</body>
</html>