<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- custom header -->
  <link rel="stylesheet" href="/stylesheets/header.css">

  <link rel="stylesheet" href="/stylesheets/commands.css"s>
</head>
<body>
	
	<% include header %>

	<div class="container">
  	<div class="card-deck mb-3 text-center deck-margin">
  	<div class="card mb-4">
  		<div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= command_name %></h4>
      </div>

    <% if (command_name == "vote") { %>
    <form class="form-blank" action='/command/<%= name %>/vote-2' method='post'>
    <% } else if (command_name == "vote-2") { %>
	  <form class="form-blank" action='/command/<%= name %>/vote' method='post'>
    <% } else { %>
	  <form class="form-blank" action='/command/<%= name %>/<%= command_name %>' method='post'>
	  <% } %>

	  	<% if (command_name == "vote-2") { %>
	  	<div class="form-group">
		    <label for="txid">txid</label>
		    <input type="text" name="txid" class="form-control-plaintext" id="txid" value="<%= txid %>">
		  </div>
	  	<div class="form-group">
		    <label for="vote_for">vote for</label>
		    <input type="text" name='vote_for' class="form-control" id="vote_for" required autofocus>
		  </div>
	  	<% } else { %>
	  	<div class="form-group">
		    <label for="txid">txid</label>
		    <input type="text" name="txid" class="form-control " id="txid" required autofocus>
		  </div>
		  <% } %>
		  <% if (command_name == "vote") { %>
			<input type='submit' class="btn btn-outline-secondary" value='next'>
			<% } else { %>
			<input type='submit' class="btn btn-outline-secondary" value='submit'>
			<% } %>
		</form>
  	</div>
  	</div>
  </div>

  <% if (command_name == "vote-2") { %>
	  <div class="container">
	  	<div class="card-deck mb-3 text-center deck-margin">
	  	<div class="card mb-4">
	  		<div class="card-header">
	        <h4 class="my-0 font-weight-normal">Candidates</h4>
	      </div>
		  	<p class="p-padding"><%= data %></p>
	  	</div>
	  	</div>
	  </div>
	 <% } %>
</body>
</html>