<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">OurVoting</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark"><%= name %></a>
  </nav>
  <% if (pathname == "commands") { %>
  	<a class="btn btn-outline-primary" href="http://<%= ip %>:5000/">Log out</a>
  <% } else { %>
  	<a class="btn btn-outline-primary" href="http://<%= ip %>:5000/commands/<%= name %>">Back</a>
  <% } %>
</div>