<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- custom header -->
	<link rel="stylesheet" href="/stylesheets/header.css">
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>

	<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	  <h5 class="my-0 mr-md-auto font-weight-normal">OurVoting</h5>
	</div>
	</header>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	  <form class="form-signin" action='/login' method='post'>
	  	<h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" required autofocus>
      <label for="inputKey" class="sr-only">Key</label>
      <input type="text" id="inputKey" class="form-control" placeholder="Key" name="key" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">log in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
		</form>
	</div>
</body>
</html>
