<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- custom header -->
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/commands.css" />
</head>
<body>

	<% include header %>

  <div class="container">
  	<div class="card-deck mb-3 text-center deck-margin">
  	<div class="card mb-4">
  		<% if (command == "new") { %>
		  	<h5 class="p-padding display-inline">txid:</h5>
		  <% }else if (command == "result") { %>
		  	<div class="card-header">
	        <h4 class="my-0 font-weight-normal">Result</h4>
	      </div>
		  <% } %>

    	<p class="p-padding"><%= data %></p>
    </div>
  	</div>
  </div>
</body>
</html>