.card-deck .card {
  min-width: 220px;
}
.deck-margin {
	margin-top: 40px;
}
.btn-circle {
	border-radius: 1.25rem;
	padding: .1rem .5rem .175rem .5rem;
}
.btn-margin {
	margin: auto 2px;
}
.p-padding {
	padding-top: 10px;
}
.form-blank {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.display-inline {
	display: inline;
}